<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mangrummicik.simontry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameOne" android:label="Simon Says Game One"/>
        <activity android:name=".GameTwo" android:label="Simon Says Game Two"/>
        <activity android:name=".GameThree" android:label="Simon Says Game Three"/>
        <activity android:name=".HowToPlay" android:label="How To Play"/>
        <activity android:name=".About" android:label="About"/>
    </application>

</manifest>